@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(251, 252, 253);
}

.content-class-no-found {
    background: #ffaaaa
}

.content-class-found {
    background: #ccffcc;
}

.bfff{
    background: #ffffcc;
}

a{
  color: #0071c2;
}
a:hover{
  color: #0071c2;
  opacity: .8;
  text-decoration:underline;
}
